//------ADVANTAGES
.advantages {
	margin-top: 6rem;
	margin-bottom: 9rem;
	@media (max-width: @xl) {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	&_wrap {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 1rem;
		margin-bottom: 5rem;
		height: auto;
		@media only screen and (max-width: 1920px) {
			width: 70%;
		}
		@media only screen and (max-width: @xl) {
			width: 90%;
			margin-top: 1.3rem;
			margin-bottom: 4rem;
		}
		@media only screen and (max-width: @md) {
			width: 100%;
		}
	}

	&_item {
		//max-width: 40rem;
		//min-width: 32rem;
		margin: 1rem;
		//padding: 3rem;
		//height: 45rem;
		position: relative;
		@media only screen and (max-width: 1920px) {
			margin: 5rem;
		}
		@media only screen and (max-width: 1600px) {
			margin: 3rem;
		}
	}
	&_text {
		text-align: left;
		font-size: 2.4rem;
		line-height: 4rem;
		font-family: @fontCuprum;
	}
	&_mark {
		font-size: 3.6rem;
		//text-align: left;
		//padding-left: 7rem;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;

	}
	&_h2 {
		@media only screen and (max-width: @xs) {
			font-size: 6rem;
		}
	}
	&_h6 {
		@media only screen and (max-width: @xs) {
			font-size: 3rem;
		}
	}
}

select {
	font-size: 20px;
    margin-top: 5rem;
  	margin-bottom: 4rem;
}

/* ---- isotope ---- */

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1650px;
}

/* clear fix */
//.isotope:after {
//	content: '';
//	display: block;
//	clear: both;
//}

/* ---- .grid-item ---- */

.grid-item {
	//position: relative;
	//float: left;
	width: 40rem;
	height: 31rem;
	margin: 5px;
	padding: 10px;
	background: #888;
	color: #262524;
	@media only screen and (max-width: @sm) {
		width: 32rem;
		height: 24.5rem;
	}
}
.okno_4 {
	height: 25rem;
	@media only screen and (max-width: @sm) {
		height: 20rem;
	}
}
.img1_2 {
	height: 65rem;
	@media only screen and (max-width: @sm) {
		height: 52rem;
	}
}

.grid-item > * {
	margin: 0;
	padding: 0;
}

//customise modal

a.pp_play,
a.pp_arrow_previous,
a.pp_arrow_next,
a.pp_close{
	display: none;
}
.pp_nav {
	margin-top: 0;
}