//------PLANT

.plant {
	width: 100%;
	background-color: @colorDark;
	color: @colorLight;
	padding-top: 10rem;
	padding-bottom: 10rem;
	@media only screen and (max-width: @xl) {
		padding-top: 6rem;

	}
	&_wrap {
		display: flex;
		flex-direction: row;
		width: 90%;
		margin-top: 8rem;
		@media only screen and (max-width: @lg) {
			width: 100%;
			flex-direction: column;
		}
	}
	&_item {
	background-color: @colorLightDark;
	}
	&_h2 {
		@media only screen and (max-width: @xs) {
			font-size: 6rem;
		}
	}
}
