//------PROFILE

.profile {
	background-color: @colorDark;
	color: @colorLight;
	&_wrap {
		width: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 6rem;
		margin-bottom: 4rem;
		@media only screen and (max-width: @xl) {
			width: 90%;
		}
		@media only screen and (max-width: @md) {
			width: 100%;
		}
	}
	&_item {
		width: 41.7rem;
		height: 41.7rem;
		background-color: @colorLight;
		margin: 1rem;
		color: @colorDark;
	}
	&_footer{
		margin-bottom: 3rem;
		text-transform: uppercase;
		font-size: 4.8rem;
		width: 90%;
	}
	&_btn {
		border: 1px solid @colorMain;
		border-radius: 1rem;
		background-color: @colorDark;
		color: @colorLight;
		font-size: 3rem;
		font-family: @fontCuprum;
		font-weight: 700;
		height: 7.5rem;
		line-height: 7.2rem;
		padding-left: 2.4rem;
		padding-right: 2.4rem;
		margin-top: 5rem;
		margin-bottom: 7rem;
		@media only screen and (max-width: @xs) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	&_img-wrap {
		height: 25rem;
		width: inherit;
		overflow:hidden;
		text-align: center;
		margin:0 auto;
		position:relative;
	}
	&_img1 {
		position:absolute;
		top: -70px;
		left: -20px;
		min-width: 320px;
	}
	&_img2 {
		position:absolute;
		top: -30px;
		left: 30px;
		min-width: 320px;
	}
	&_img3 {
		position:absolute;
		top: -10px;
		left: 50px;

	}
}

