//------PROFILE

.line {
	width: 15rem;
	height: 1px;
	background-color: @colorMain;
}
.card {
	//height: 440px;
	transition: all 1s ease-out 0s;
	&:hover,
	&:active {
		//height: 500px;
		transform: scaleY(1.1);
	}
}