//VARIABLES

@import url('https://fonts.googleapis.com/css?family=Cuprum:700|PT+Sans+Narrow:700|Roboto+Condensed');

//FONT
@fontPTSans: 'PT Sans Narrow', sans-serif;
@fontRoboto: 'Roboto Condensed', sans-serif;
@fontCuprum: 'Cuprum', sans-serif;

//COLOR
@colorMain: #deb33e;
@colorLight: #fff;
@colorLightDark: #3b3b3b;
@colorDark: #000;
@linkColor: #3eb5f1;

//MEDIA
@xs: 380px;
@sm: 575px;
@md: 767px;
@lg: 991px;

//MIXIN
.flex_c_row() {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_c_col() {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
