// @import "import/_animation";
@import "import/_variables";

//----MAIN

*, :after, :before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
	color: @colorLight;
	@media (max-width: @sm) {
		font-size: 7px;
	}
	@media (max-width: @md) {
		font-size: 8px;
	}
	@media (max-width: @lg) {
		font-size: 9px;
	}
}

body {
	font-size: 2.4rem;
	font-family: @fontRoboto;
}

h1 {
	font-size: 15rem;
	font-weight: 700;
	font-stretch: condensed;
	text-transform: uppercase
}

h2 {
    font-size: 5.4rem;
    font-weight: 700;
    font-family: @fontPTSans;
    text-transform: uppercase
}

h3 {
    font-size: 2.7rem;
    font-weight: 400;
    font-family: @fontCuprum;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase

}

ul {
	list-style: none;
	font-size: 3rem;
}

.header,
.main,
.footer {
	width: 100vw;
	max-width: 100%;
}
//.container {
//	max-width: 117rem;
//	width: 100%;
//	margin-left: auto;
//	margin-right: auto;
//}
//.wrap {
//	width: 100%;
//}

@import "./import/_header";
@import "./import/_profile";
